.wrapper {
    display: block;
    width: 100%;


    .sub-menu-icon {
        color: #0000005c;
        width: 28px;
        height: 32px;
        padding: 6px 0;
    }

    @media (max-width: 991px) {
        .mobile-menu {
            display: block;
        }

        .pc-menu {
            &.hidden {
                display: none;
            }
        }
    }

}

.mobile-menu {
    display: none;
}

.avatar {
    height: 48px;
    width: 48px;
    display: block;

}


.user-name {
    color: #333;
    font-weight: bold;
}

.repair-icon {
    margin-right: 4px;
    margin-bottom: 4px;
    display: inline-block;
    line-height: 1.5rem;

}

.my-toast {
    display: none;
    transition: opacity 1s linear;

    .show {
        display: block;
        transition: opacity 1s linear;
    }


}

.my-link {
    color: rgba(0, 0, 0, .65);
    display: Block;
    width: 100%;
    padding: 5px 10px 5px 16px;
    font-weight: 400;
    font-size: 15px;

    &:hover {
        color: #ee4d2d;
    }
}

.my-link.active {
    color: #ee4d2d
}