.wrapper {
    padding: 0 20px 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #fff;
    min-height: 100%;


}

.header {
    padding: 18px 0;
    border-bottom: 0.0625rem solid #efefef;

    .title {
        font-size: 1.8rem;
        color: #333;
    }

    .paragraph {
        font-size: 1.4rem;
        margin-top: 3px;
        color: #555;
    }
}

.content {
    min-height: 500px;
    padding-right: 30px;

    .label {
        text-align: right;
        color: rgba(85, 85, 85, .8);
        overflow: hidden;
        padding-bottom: 30px;
        white-space: nowrap;
        padding-right: 20px;

    }

    .input-wrapper {
        .captcha {
            width: 600px;
            padding-top: 30px;
        }

        .on-mobile {
            display: none;
        }

        .invalid {

            color: #ee4c2d;
            padding: 8px 0;
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            justify-content: flex-start;
        }

        .errMsg {
            color: #ee4c2d;
            padding: 8px 0;
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            justify-content: flex-start;
        }

        .input {
            width: 100%;
            padding: 8px 12px;
            border: 1px solid rgba(0, 0, 0, .14);
            border-radius: 2px;
            box-shadow: inset 0 2px 0 rgba(0, 0, 0, .02);

            &:focus {
                outline: none;
                box-shadow: none;
            }

        }

        .submit-btn {
            background-color: #ee4c2d;
            color: #fff;
            font-size: 1.4rem;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            white-space: nowrap;
            cursor: pointer;
            outline: none;
            border: none;
            border-radius: 3px;

            &.disabled {
                opacity: 0.4;
            }
        }

        select {
            margin: 0 8px;
            padding: 4px 12px;
            width: 28%;
        }

        .sex {
            display: inline-flex;
            align-self: center;
            justify-content: flex-start;

            .radio-box {
                height: 20px;
                width: 20px;
                border-radius: 50%;
                border: 1px solid #ccc;
                z-index: 1;
                display: flex;
                align-self: center;
                justify-content: center;
                position: relative;

                &.active {
                    border: 2px solid #ee4c2d;

                    &::after {
                        content: "";
                        height: 4px;
                        width: 4px;
                        border-radius: 50%;
                        background-color: #ee4c2d;
                        position: absolute;
                        top: 6px;
                        right: 6px;
                    }
                }
            }

            input {
                display: block;
                height: 20px;
                width: 20px;
                z-index: -1;
                visibility: hidden;

            }

            .label-sex {
                display: flex;
                margin: 0 10px;
                justify-content: center;
                align-items: center;
            }
        }

        .input-label {
            width: 100%;
            padding: 4px;
            color: #00000066;
        }

        .add {
            padding-bottom: 2px;
            text-decoration: underline;
            color: #0055aa;
            cursor: pointer;
            font-size: 1.4rem;
            width: 10%;
        }
    }
}

.avatar-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 0.0625rem solid #efefef;
    padding: 0 16px;
    width: 100%;

    .avatar {
        $width: 100px;
        height: $width;
        flex: 0 0 auto;
        width: $width;
        display: block;



    }

    .change-avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        input {
            display: none;
        }

        .change-btn {
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            background: #fff;
            color: #555;
            border: 1px solid rgba(0, 0, 0, .09);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .03);
            position: relative;
            padding: 8px 12px;
            width: 50%;
            white-space: nowrap;
            cursor: pointer;
            min-width: 96px;

        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            border: none;
            outline: none;
            background-color: #ee4c2d;
            color: #fff;
            margin-top: 5px;
            border-radius: 3px;
            padding: 8px 12px;
            white-space: nowrap;
            min-width: 96px;
        }

        .limited {
            font-size: 1.4rem;
            color: #999999;
            padding: 8px 0;
        }
    }
}

@media (max-width: 991px) {
    .wrapper .input-wrapper {
        .on-mobile {
            display: block;
        }
    }

    .wrapper .profile-box {
        flex-direction: column-reverse;

        .on-pc {
            display: none;
        }

        .avatar-block {
            border: none;
            margin-bottom: 20px;

            .avatar {
                height: 150px;
                width: 150px;

            }
        }
    }
}


//bank

.bank-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px 10px;
    width: 100%;
    background-color: #fff;
    min-height: 600px;
}

.address-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 30px 10px;
    width: 100%;
    background-color: #fff;
    min-height: 600px;

    .header {
        padding: 18px 0;
        border-bottom: 0.0625rem solid #efefef;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .modal-address {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, .1);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 99;

            &.hidden {
                display: none;
            }

            .layout {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

            }

            .input-box {
                display: flex;
                flex-direction: column;
                padding: 30px;
                background-color: #fff;
                box-shadow: 0 2px 4px rgba(0, 0, 0, .54);
                border-radius: 3px;
                width: 500px;
                z-index: 999;

                .heading {
                    font-size: 2rem;
                    color: #000000cc;
                }

                .input-group {
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;

                    .invalid {
                        font-size: 1.2rem;
                        color: #ee4c2d;
                        padding: 8px 0;
                        display: none;



                        &.isInValid {
                            display: block;
                            color: #ee4c2d;
                        }

                    }

                    label {
                        color: gba(85, 85, 85, 0.8);
                        font-size: 1.4rem;
                    }

                    &.flex-start {
                        justify-content: flex-start;
                    }

                    &.flex-end {
                        justify-content: flex-end;
                    }

                    .input-item {
                        width: 48%;
                        padding: 4px 10px;
                        color: #000000cc;
                        border-radius: 3px;
                        outline: none;
                        border: 1px solid rgba(0, 0, 0, 0.6);

                        &.isInValid::placeholder {
                            color: #ee4c2d;
                        }

                        &.isInValid {
                            border: 1px solid #ee4c2d;
                            color: #ee4c2d;
                        }
                    }

                    .type-of-address {

                        width: 100%;

                        color: #000000cc;
                    }

                    .save-default {
                        height: 16px;
                        width: 16px;
                        margin-right: 8px;
                    }

                    .input-button {
                        margin-top: 10px;
                        width: 20%;
                        min-width: 96px;
                        font-size: 1.4rem;
                        border-radius: 3px;
                        color: #000000cc;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        white-space: nowrap;
                        margin-left: 8px;
                        border: 1px solid rgba(0, 0, 0, .09);
                        cursor: pointer;
                        box-shadow: 0 1px 1px rgba(0, 0, 0, .03);
                        border-radius: 2px;

                        &.primary {
                            color: #fff;
                            background-color: #ee4c2d;
                        }
                    }

                    .input-btn {
                        margin-top: 10px;
                        width: 20%;
                        min-width: 96px;
                        font-size: 1.4rem;
                        border-radius: 3px;
                        color: #000000cc;
                        padding: 10px;
                        white-space: nowrap;
                        margin-right: 8px;
                        border: 1px solid rgba(0, 0, 0, .09);
                        cursor: pointer;
                        box-shadow: 0 1px 1px rgba(0, 0, 0, .03);
                        border-radius: 2px;

                        &.active {
                            color: #ee4c2d;
                            border: 1px solid #ee4c2d;
                        }
                    }

                    .input-item-1 {
                        width: 100%;
                        padding: 10px;
                        color: #000000cc;
                        border-radius: 3px;
                        outline: none;
                        border: 1px solid rgba(0, 0, 0, 0.6);
                    }

                    .input-select {
                        width: 30%;
                        padding: 4px 10px;
                        color: #000000cc;
                        border-radius: 3px;
                        font-size: 1.4rem;
                        outline: none;
                        border: 1px solid rgba(0, 0, 0, 0.6);
                    }
                }
            }
        }

        .title {
            font-size: 1.8rem;
            color: #333;
        }

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            background-color: #ee4c2d;
            font-size: 1.4rem;
            padding: 4px 20px;
            border-radius: 3px;
            cursor: pointer;

        }


    }

    .address-box {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .no-address {
            margin: auto;
            padding-top: 15%;
        }

        .have-address {
            min-width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 1.4rem;

            .address-list {
                list-style-type: none;
                margin-left: 20px;

                li {
                    padding: 8px 0;
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;

                    .update-item {
                        flex: 1;

                    }

                    .btn-wrapper {
                        display: inline-flex;
                        align-items: center;
                        align-items: center;
                    }

                    .update-address {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-width: 50px;
                        padding: 12px 0;
                        border-radius: 3px;
                        background-color: #ee4c2d;
                        color: #fff;
                        cursor: pointer;
                        font-size: 1.2rem;
                        margin-left: 4px;
                    }
                }
            }


        }
    }
}

.change-password {
    display: flex;
    justify-content: center;
    padding: 0 30px 10px;
    width: 100%;
    background-color: #fff;
    min-height: 100%;
}