.avatar {
    display: block;
}


.avatar-placeholder {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #f5f5f5;
    border-radius: 50%;
    overflow: hidden;
}

.user-name {
    margin: 0 8px;
}

.avatar-icon {
    stroke: #c6c6c6;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.avatar-img {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}